.pastry {
    height: 200px; 
    width: 300px;
  }
  
.Title {
    color:goldenrod;
    text-align: center;

}
.Buttons {
    text-align:center;
}

.Text {
    text-align:center;
}

.Picture {
    text-align: center;
}

